# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Rust
/target/
/vendor/target/
/work/

# macOS
.DS_Store

# Local research and implementation notes
/internal-docs/
